<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <a href="/"> My Pet App </a>
  </header>
  
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Your Next Pet </a>
    <a id="about" class="item" href="/about"> About Us </a>
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
