{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
  <!-- I'll try to make a grid with App Details and Creator, etc. on the left and a map on the right - MAYBE with something more -->
    <h2>About My Pet App</h2>
      <p>
        In here you'll find your next friend.
        Our purpose is to connect you to kennels, shelters and breeders near you.
        Everything for our little friends.
      </p>
    <!-- more to be added soon -->

    

</section>