{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
  <!-- I'll try to make a grid with App Details and Creator, etc. on the left and a map on the right - MAYBE with something more -->
    <h2 style="text-align:center;">About My Pet App</h2>
    <div class="ui grid stackable middle aligned">
  <div class="row">
    <div class="ten wide column">
      <p>
        <em>Our goal with this platform is to help you find your next furry friend.</em>
        We aim to connect you with trusted kennels, shelters, and responsible breeders near you,
        making the process easier, safer and quicker.<br>
        Whether you're looking for a playful puppy, a calm older dog, or a rescue that needs
        a second chance, we're here to help you discover the right match.
        <strong>Everything for our little friends!</strong>
      </p>
    </div>

    <div class="six wide column">
      <img class="ui fluid image" src="/happy dog.jpg" alt="happy happy happy dog" style="border-radius:20px;">
    </div>
  </div>
</div>



      <h2 style="text-align:center;">Get to Know Us</h2>
    <!-- more to be added soon -->

</section>

{{> footer }}