{{> menu id="dashboard"}}

<!-- Changes made according to inspiration from https://github.com/mlyngweb1/Playlist2-Styled -->
<section class="ui left aligned middle aligned segment">
{{> shelters}}
</section>

<section class="ui center aligned middle aligned segment">
  {{> addShelter}}
</section>