{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
  <!-- Add generic advice -->
    <h2>Your Pet's best Advice</h2>
      <p>
        Here we look forward to giving the best advice we can as caregiver, for new pet owners and what to be mindful of when homing or rehoming your furry friend🥰🥰
      </p>
    <!-- add dog images with text saying what they like as if examples -->
    <!-- dog image on the right with advice text and a quote on the left, then invert for the next -->
    

</section>