{{> menu id="start"}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Your Pet App</h2>

  <p>
    Welcome to My Pet App! Here our aim is to help you find your next furry friend😁<br>
    We look forward to connecting you to shelters, kennels and breeders near you. We also make available advices and tips for yours and your future friend's best experience when rehoming, adopting or buying, for a smooth experience and proccess.<br>
    <strong>Everything for our loyal friends!</strong>
  </p>
  <img class="ui fluid image" src="/starter.jpg" alt="dogs" style="border-radius:20px;">

</section>