{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Your Pet App</h2>

  <!-- I have tocome up with some message and better image and layout and everything -->
  <!-- I might do it the same way the News Websites do, with an image on the right and text around it -->
  <p>
    You can use this start view (along with the matching start controller and start route) as the starting point for your "welcome" view (i.e. your app's homepage). Read the assignment spec to see what other views you should add.
  </p>

</section>
