/*html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}*/

/*CSS taken from My Recipe Scrolls and adapted to My Pet App*/
body,
html {
    width: 100%;
    height: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
}

body {
    background-color: #ffd500;
    background-image: url(../images/scrolls\ background.jpg);
    line-height: 1.25;
}

p {
    color: #2B2B2B;
}

header {
    margin-top: 10px;
    width: 100%;
    padding: 20px 0 20px;
    background-color: #5C3B1E;
    text-align: left;
}

header>h1 {
    color: #FAF5EF;
    padding: 2em 20px 8px;
    padding-bottom: 0;
    margin-bottom: 0;
}

header>h2 {
    color: #FAF5EF;
    padding-bottom: 0;
    padding-top: 0.25em;
    margin-bottom: 0;
    margin-top: 0.25em;
    padding-left: 35px;
}

header>p {
    color: #FAF5EF;
    font-weight: bold;
}

h1 {
    font-size: 250%;
    color: #2B2B2B;
    padding: 1em 20px 8px;
    margin: 0;
}

h2 {
    color: #2B2B2B;
    padding-top: 0.5em;
    padding-left: 20px;
}

h3 {
    padding-left: 25px;
    color: #2B2B2B;
}

a {
    color: #000;
}

a:hover {
 color: #ffd500;
}

nav {
    width: 100%;
    padding: 1em 0;
    margin: 2em 0 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    color: #FAF5EF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5C3B1E;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.brand{
  display: flex;
  align-items: center;
}

.brand-logo{
  height: 40px;
  width: auto;
  display: block;
}

.dropdown {
    position: relative;
    margin-left: auto;
}

.dropdown-img {
  width: 32px;
  height: auto;
  display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border-radius: 10px;
    background-color: #ffd500;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}